.appShell {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #050505;
}

.mainContent {
    display: flex;
    flex: 1;
    overflow: hidden;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
}

.sidebar {
    width: 300px;
    height: 100%;
}

.viewport {
    flex: 1;
    height: 100%;
}

.rightPanel {
    width: 350px;
    height: 100%;
}